$red      = #E7470B
$greenLight = #327C78
$yellow     = #FFBC0D
$yellowDark = #ED8C00
$orange     = #FC4D0F
$white      = #ffffff
$grey       = #999999
$black      = #000000
$dark       = #222222
$disable    = #363636
$back       = #0f0d0c
/* END: colors*/

$font = 'Roboto'
$transition = .2s ease

/* START: layout vars */
$sxs     = '(max-width: 427px)'
$xxs     = '(max-width: 576px)'
$xs      = '(max-width: 767px)'
$xsPlus  = '(min-width: 768px)'

$smMinus = '(max-width: 1023px)'
$sm      = '(min-width: 768px) and (max-width: 1023px)'
$smPlus  = '(min-width: 1024px)'

$mdMinus = '(max-width: 1279px)'
$md      = '(min-width: 1024px) and (max-width: 1279px)'
$mdPlus  = '(min-width: 1280px)'

$lgMinus = '(max-width: 1919px)'
$lg      = '(min-width: 1280px) and (max-width: 1919px)'
$lgPlus  = '(min-width: 1920px)'

$laptop  = '(max-width: 1679px)'

$XlgMinus = '(max-width: 2559px)'
$Xlg      = '(min-width: 1920px) and (max-width: 2559px)'
$XlgPlus  = '(min-width: 2560px)'

$desktopPlus = '(min-width: 1921px)'

$hover_none = '(hover: coarse)'
$hover      = '(hover: hover) and (pointer: fine)' /* mouse, touch pad */
$isTouch    = '(pointer: coarse)'
/* END: layout vars */